<footer class="bg-gray-800 bg-opacity-90 text-white py-6">
    <div class="container mx-auto text-center">
      <!-- Enlaces del footer -->
      <div class="mb-4">
        <a href="#" class="mx-4 hover:text-gray-300">Inicio</a>
        <a href="#" class="mx-4 hover:text-gray-300">Nosotros</a>
        <a href="#" class="mx-4 hover:text-gray-300">Servicios</a>
        <a href="#" class="mx-4 hover:text-gray-300">Contacto</a>
      </div>
      
      <!-- Redes Sociales -->
      <div class="flex justify-center space-x-4 mb-4">
        <a href="#" class="text-white hover:text-gray-300">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="text-white hover:text-gray-300">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="text-white hover:text-gray-300">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#" class="text-white hover:text-gray-300">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
  
      <!-- Información de la Empresa -->
      <div class="text-sm">
        <p>&copy; 2024 Papelería y Regalos Jerusalén. Todos los derechos reservados.</p>
        <p>Desarrollado por<a href="#" class="text-blue-400 hover:underline">Arlette Cruz Luna</a></p>
      </div>
    </div>
  </footer>
  